networks:
  csdl7:
    external: true

services:
  postgres:
    container_name: postgres
    image: postgres:14-alpine
    volumes:
      - ~/apps/postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=mattrangmattroi1
      - POSTGRES_USER=postgres
    ports:
      - "5432:5432"
